- var title = 'Recent Cases'

- var list = [
-    {href: '', icon: 'icon-money', title: 'Monthly savings', text: 'for mid-sized distribution company', value: '500+ hours $50K'},
-    {href: '', icon: 'icon-sales', title: 'Extra sales', text: 'for a regional health industry company', value: '$170K'},
-    {href: '', icon: 'icon-hands', title: 'Simplified', text: 'Sales analytics for mid-sized retail chain in', value: '73 POS'}
-]

- var more = 'LEARN MORE'

- var sectionTitle = 'For companies looking to grow their business, Quandary offers its expertise in process optimizations and automation that allows you to increase efficiency and grow faster and easier than anybody else on the market.'

section.section.recent-cases
    h2.section__title #{title}
    ul.recent-cases__list
        each item in list
            li.recent-cases__item
                a.recent-cases__link(href=item.href data-more=more)
                    i(class=item.icon)
                    span #{item.title}
                    span #{item.text}
                    span #{item.value}

h3.page__title #{sectionTitle}